<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="diPracticeBiz" class="com.ktds.pratice.biz.DIPracticeBizImpl">
		
		<!--name:멤버 변수명  diPracticeDao  -->
		
		<property name="diPracticeDao" ref="diPracticeDao"/>
	
	</bean>
	
	<bean id="diPracticeDao" class="com.ktds.pratice.dao.DIPracticeDaoImpl"/>

</beans>
