<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="add" class="com.ktds.christof_kim.calc.impl.AddImpl"></bean>
	<bean id="sub" class="com.ktds.christof_kim.calc.impl.SubImpl"></bean>
	<bean id="mul" class="com.ktds.christof_kim.calc.impl.MulImpl"></bean>
	
	<bean id="calcService" class="com.ktds.christof_kim.calc.service.impl.CalcServiceImpl">
		<property name="calc" ref="mul"></property>
	</bean>
		
</beans>
